<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="portfolioapi.portfolioapi.dao.TestMapper">
    <select id="getByUuid" resultMap="testResultMap">
        select * from test where uuid = #{uuid}
    </select>
    <resultMap id="testResultMap" type="portfolioapi.portfolioapi.model.Test">
        <id property="id" column="id"/>
        <result property="uuid" column="uuid"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
    </resultMap>
</mapper>